.main {
  margin: 10px 10px;
  padding: 10px 0;
  border: 2px solid #eee;
}


.openmodal {
  border: none;
  background-color: aquamarine;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
}
