.main {
  margin: 30px 10px;
  padding: 10px 0;
  border: 5px solid rgb(216, 216, 216);
  border-radius: 20px;
  background-color: rgba(216, 191, 216, 0.452);
}

.openmodal {
  border: none;
  padding: 10px 10px;
  align-self: stretch;
  border-radius: 8px;
  cursor: pointer;
}

button.openmodal {
  background-color: transparent;
  align-self: stretch;
}
button.openmodal:hover {
  background-color: rgba(216, 191, 216, 0.808);
  transition: background 0.3s;
}
